* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

.topo {
    text-align: center;
    background-color: aliceblue;
    padding: 20px;
}

.Msg-btn {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 10%;
    left: 3%;
    align-items: center;
    justify-content: center;
    border: solid 2px black;
    border-radius: 5px;
    box-shadow: 10px 10px 20px black;
}

#btn-msg {
    position: relative;
    top: 120px;
    left: 100px;
    width: 90px;
    height: 50px;
    cursor: pointer;
}

.idade {
    position: absolute;
    top: 10%;
    left: 23%;
    width: 300px;
    height: 300px;
    border: solid 2px black;
    border-radius: 5px;
    box-shadow: 10px 10px 20px black;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    position: relative;
    border: solid black 5px 5px 10px;
    padding: 10px;
    background: transparent;
    top: 5%;
}

#mosta-idade {
    position: relative;
    top: 5%;
    left: 20%;
    width: 150px;
    height: 30px;
    cursor: pointer;
}

#mostra-idade:hover {
    transform: scale(1.5);
}

.calcula-media {
    position: absolute;
    border: solid 2px black;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 10%;
    left: 41%;
    box-shadow: 5px 5px 10px black;
    border-radius: 5px;
}

#calc-media {
    position: relative;
    top: 40%;
    left: -30%;
    cursor: pointer;
    width: 90px;
    height: 30px;
}

#num-1 {
    position: relative;
    left: 20%;
}

#num-2 {
    position: relative;
    left: 20%;
}

#num-3 {
    position: relative;
    left: 20%;
}

#result {
    position: relative;
    left: 20%;
    top: 15%;
}

#calc-media {
    position: relative;
    top: 50%;
}

.imc {
    position: absolute;
    top: 10%;
    left: 59%;
    width: 300px;
    height: 300px;
    border: solid 2px black;
    box-shadow: 5px 5px 10px black;
    border-radius: 5px;
}

.imc input {
    position: relative;
    top: 15%;
    left: 20%;
    margin-bottom: 10px;
}

#calcImc {
    position: relative;
    top: 50%;
    left: -25%;
    width: 80px;
    height: 40px;
    cursor: pointer;
}

.multiplos{
    position: absolute;
    top: 10%;
    left: 65%;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
}