* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

.topo {
    text-align: center;
    background-color: aliceblue;
    padding: 20px;
}

.fibonacci{
    position: absolute;
    top: 40%;
    left: 40%;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
}

.fibonacci input{
    position: relative;
    top: 20%;
    left: 20%;
}

#calcular-fibonacci{
    position: relative;
    top: 40%;
    left: -30%;
    height: 40px;
    width: 140px;
    cursor: pointer;
}
