*{  
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

.topo{
    text-align: center;
    background-color: aliceblue;
    padding: 20px;
}

.primos{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 40%;
    left: 40%;
    border: solid 2px black;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
}

.primos input{
    position: relative;
    top: 20%;
    left: 20%;
}

#calcular-primo{
    position: relative;
    top: 50%;
    left: -30%;
    cursor: pointer;
}