*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}   

.topo {
    text-align: center;
    background-color: aliceblue;
    padding: 20px;
}

.calcula-media {
    position: absolute;
    border: solid 2px black;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 30%;
    left: 41%;
    box-shadow: 5px 5px 10px black;
    border-radius: 5px;
}

#calc-media {
    position: relative;
    top: 50%;
    left: -30%;
    cursor: pointer;
    width: 90px;
    height: 30px;
}

#num-1 {
    position: relative;
    left: 20%;
}

#num-2 {
    position: relative;
    left: 20%;
}

#num-3 {
    position: relative;
    left: 20%;
}

#result {
    position: relative;
    left: 20%;
    top: 15%;
}