* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

.topo {
    text-align: center;
    background-color: aliceblue;
    padding: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
    display: flex;
    flex-direction: row;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f4f4f4;
}
.multiplo {
    background-color: #ffcccc;
}

.primos-entre-0-200{
    position: absolute;
    top: 30%;
    left: 30%;
    width: 600px;
    height: 600px;
    border: solid 2px black;
    box-shadow: 5px 5px 10px black;
    border-radius: 5px;
}

#mostra-primos{
    position: absolute;
    top: 70%;
    left: 50%;
    cursor: pointer;
}