*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

.topo{
    text-align: center;
    background-color: aliceblue;
    padding: 20px;
}

.container  {
    position: absolute;
    top: 30%;
    left: 35%;
    width: 600px;
    height: 600px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
}

input{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 25%;
    left: 35%;
    margin: 5px;
    outline: none;
}

button{
    position: relative;
    top: 30%;
    left: 37.5%;
    cursor: pointer;
}

p{
    position: relative;
    top: 27%;
    left: 39%;
}