*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

.topo{  
    text-align: center;
    background-color: aliceblue;
    padding: 20px;
}

.imc {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 300px;
    height: 300px;
    border: solid 2px black;
    box-shadow: 5px 5px 10px black;
    border-radius: 5px;
}

.imc input {
    position: relative;
    top: 15%;
    left: 20%;
    margin-bottom: 10px;
}

#calcImc {
    position: relative;
    top: 50%;
    left: -25%;
    width: 80px;
    height: 40px;
    cursor: pointer;
}
