*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

.topo {
    text-align: center;
    background-color: aliceblue;
    padding: 20px;
}

input{
    border-radius: 5px;
    outline: none;
}

.Msg-btn {
    position: absolute;
    top: 40%;
    left: 43%;
    width: 300px;
    height: 300px;
    align-items: center;
    justify-content: center;
    border: solid 2px black;
    border-radius: 5px;
    box-shadow: 10px 10px 20px black;
}

#btn-msg {
    position: relative;
    top: 120px;
    left: 100px;
    width: 90px;
    height: 50px;
    cursor: pointer;
}